* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    width: 100%;
    background: linear-gradient(to bottom, #fff, #e0e0e0);
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.header-row:after {
    display: block;
    content: "";
    clear: both;
}

.header-row {
    padding-left: 25px;
    padding-right: 25px;
}

.col-md-2 {
    width: 50%;
    float: left;
}

.col-md-3 {
    width: 25%;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #676666;
    font-size: 49px;
    line-height: 120px;
}

.orange-text {
    color: #ff7700;
}

.menu ul {
    list-style-type: none;
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}
.menu li {
    float: left;
    border-right: 1px solid #cfcfcf;
    position: relative;
}

.menu li:last-child {
    border: none;
}

.img {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.home {
    background-image: url(images/home-icon.png );
}

.gallery {
    background-image: url(images/gallery-icon.png);
}

.members {
    background-image: url(images/members-icon.png);
}

.logout {
    background-image: url(images/logout-icon.png);
}

.menu a {
    font-family: Helvetica, sans-serif;
    display: block;
    height: 120px;
    text-align: center;
    line-height: 90px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
}

.menu li:hover {
    background: linear-gradient(to bottom,white, #cbc3c3);
    border-bottom: 5px solid #ff7700;
}