* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    width: 100%;
    background: linear-gradient(to bottom, #fff, #e0e0e0);
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.header-row:after {
    display: block;
    content: "";
    clear: both;
}

.header-row {
    padding-left: 25px;
    padding-right: 25px;
}

.col-md-2 {
    width: 50%;
    float: left;
}

.col-md-3 {
    width: 25%;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #676666;
    font-size: 49px;
    line-height: 120px;
}

.orange-text {
    color: #ff7700;
}

.menu ul {
    list-style-type: none;
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}
.menu li {
    float: left;
    text-align: center;
    line-height: 120px;
    font-family: Helvetica, sans-serif;
}