* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    width: 100%;
    background: linear-gradient(to bottom, #fff, #e0e0e0);
}

.content {
    width: 1024px;
    margin: 0 auto;
}

.header-row:after {
    display: block;
    content: "";
    clear: both;
}

.header-row {
    padding-left: 25px;
    padding-right: 25px;
}

.col-md-2 {
    width: 50%;
    float: left;
}

.col-md-3 {
    width: 25%;
    float: left;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #676666;
    font-size: 49px;
    line-height: 120px;
}

.orange-text {
    color: #ff7700;
}

.menu ul {
    list-style-type: none;
}

.menu:after {
    display: block;
    content: "";
    clear: both;
}
.menu li {
    float: left;
    border-right: 1px solid #cfcfcf;
    position: relative;
}

.menu li:last-child {
    border: none;
}

.img {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.home {
    background-image: url(images/home-icon.png );
}

.gallery {
    background-image: url(images/gallery-icon.png);
}

.members {
    background-image: url(images/members-icon.png);
}

.logout {
    background-image: url(images/logout-icon.png);
}

.menu a {
    font-family: Helvetica, sans-serif;
    display: block;
    height: 120px;
    text-align: center;
    line-height: 90px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
}

.menu li:hover {
    background: linear-gradient(to bottom,white, #cbc3c3);
    border-bottom: 5px solid #ff7700;
    height: 120px;
}


/* Main-formatting */

.upload-container {
    height: 190px;
    padding-left: 100px;
    padding-right: 100px;
}

.upload-container h2 {
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #565555;
}

.col-md-75 {
    width: 75%;
    float: left;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-25 {
    width: 25%;
    float: left;
}

.browse-field {
    border: 1px solid #cacaca;
    height: 50px;
    width: 100%;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to bottom, #cacaca, white 20%);
}

.browse {
    height: 30px;
    width: 95px;
    position: absolute;
    right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #c1bfbf;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.browse:focus {
    outline: none;
    background: linear-gradient(to bottom,white, #cbc3c3);
    color: #ff7700;
}

.upload {
    height: 50px;
    width: 100%;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ffa300, #ff6800);
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}

.upload:focus {
    outline: none;
    background: linear-gradient(to bottom,white, #cbc3c3);
    color: #ff7700;
}


/* Items container formatting */

.items-container {
    width: 100%;
    padding: 15px;
}

.item {
    padding: 10px;
    border: 1px solid #d6d6d6;
    background-image: linear-gradient(white 90%, hsl(0, 0%, 90%));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.item-image {
    display: block;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;  
}

.frst {
    background-image: url(/other-site/images/1.png);
} 

.description {
    line-height: 35px;
    border-bottom: 1px solid #d6d6d6;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #979393;
    position: relative;
}

.favourite {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 5px;
    background-image: url(images/favourite-icon.png);
    background-size: contain;
    border: none;
}

.share {
    padding-left: 40px;
    line-height: 35px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #979393;
    position: relative;
}

.twitter {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 78px;
    background-image: url(images/twitter-icon.png);
    background-size: contain;
    border: none;
}

.fb {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 53px;
    background-image: url(images/fb-icon.png);
    background-size: contain;
    border: none;
}

.pin {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 28px;
    background-image: url(images/pin-icon.png);
    background-size: contain;
    border: none;
}

.telegram {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 2px;
    background-image: url(images/telegram-icon.png);
    background-size: contain;
    border: none;
}

.scnd {
    background-image: url(images/2.png);
}

.thrd {
    background-image: url(images/3.png);
}

.frth {
    background-image: url(images/4.png);
}

.frst2 {
    background-image: url(images/1-2.png);
}

.scnd2 {
    background-image: url(images/2-2.png);
}

.thrd2 {
    background-image: url(images/3-2.png);
}

.frth2 {
    background-image: url(images/4-2.png);
}

.frst3 {
    background-image: url(images/1-3.png);
}

.scnd3 {
    background-image: url(images/2-3.png);
}

.thrd3 {
    background-image: url(images/3-3.png);
}

.frth3 {
    background-image: url(images/4-3.png);
}



